.heading {
    &__scroll-anchor {
        display: block;
        position: relative;
        top: $baseunit * -2; // So that scrolling to an ID still shows the heading
        visibility: hidden;
    }
}
