.page-faq {
    $card-width: 30%;

    @extend .container;

    &__card {
        @include full-width-bg($color-seafoam);

        padding-top: $offset-page-header-top;

        & &__toggle {
            @extend .button;
            @extend .button--small;
            @extend .button--outline;

            width: 100%;
        }
    }
    &__header {
        @include full-width-bg($color-seafoam) {
            border-bottom: 1px solid $color-seafoam-dark-1;
        }
    }
    &__questions {
        @include scut-list-unstyled;
    }
    &__content {
        &__ajax {
            width: 100%;
            // to override `.container` horizontal padding inherited by
            // `.resource-previews` and `.toolkit-previews`
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    @media (min-width: $media-width-landscape-small-mobile) {
        &__card {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            & &__title {
                margin-bottom: 0;
            }
            & &__toggle {
                width: auto;
            }
        }
    }
    @media (min-width: $media-width-laptop) {
        $green-background-height: 45vh;

        @include full-width-bg($color-seafoam) {
            height: $green-background-height;
            border-bottom: 1px solid $color-seafoam-dark-1;
        }

        position: relative;
        display: flex;

        &__card {
            $card-padding: $baseunit * 1.5;

            @include card-bg;
            @include full-width-bg(false); // remove bg

            position: sticky;
            top: 0;
            max-height: 100vh;
            width: $card-width;
            flex-shrink: 0;
            // for sticky within flexbox need to not be full height
            // see https://stackoverflow.com/a/44446672
            align-self: flex-start;
            padding-top: 0;
            margin-top: $baseunit * 0.5;
            margin-bottom: $baseunit * 2;

            align-items: initial;
            justify-content: initial;
            flex-direction: column;

            &__title,
            &__content {
                padding: $card-padding;
            }
            & &__title {
                padding-bottom: 0;
                margin-bottom: $baseunit;
            }
            & &__toggle {
                display: none;
            }
            &__content {
                @include scroll-vertical;

                padding-top: 0;
                display: initial;
            }
        }
        &__header {
            @include full-width-bg(false); // remove bg
        }
        &__body {
            flex-grow: 1;
            min-width: 0;
            padding-left: $unit-horizontal-overhang;
            // to add some additional spacing between card and content
            margin-left: $baseunit;
        }
        &__content {
            @include full-width-bg($color-white) {
                left: $unit-horizontal-overhang * -1;
                min-height: $green-background-height;
                width: calc(100% + #{$unit-horizontal-overhang * 2});
                transform: none;
                border-top-right-radius: $border-radius * 2;
                border-top-left-radius: $border-radius * 2;
                border-top: 1px solid $color-seafoam-dark-1;
            }
        }
    }
    @media (min-width: $media-width-large-desktop) {
        $green-background-height: 35vh;

        @include full-width-bg($color-seafoam) {
            height: $green-background-height;
        }
        &__content:before {
            min-height: $green-background-height;
        }
    }
}
