.page-header {
    display: flex;
    flex-direction: column;
    padding: $offset-page-header-top 0 $baseunit;

    &:not(&--nested) {
        @extend .container;
        @include full-width-bg($color-seafoam) {
            border-bottom: 1px solid $color-seafoam-dark-1;
        }
    }
    &--nested {
        padding-top: $baseunit;
    }

    &__form {
        flex-grow: 0.5;
    }
    &__metadata {
        @extend .text;
        @include scut_truncate;

        color: $color-gray;
        display: none;
    }
    &__section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: stretch;
    }

    @media (min-width: $media-width-tablet) {
        flex-direction: row;

        &__metadata {
            display: block;

            &--secondary {
                display: none;
            }
        }
        &__section {
            flex-direction: row;
            align-items: baseline;

            & + & {
                margin-left: $baseunit;
            }
            & > * {
                margin-right: $baseunit;

                &:last-child {
                    margin-right: 0;
                }
            }

            &--right {
                justify-content: flex-end;
            }
        }
    }
    @media (min-width: $media-width-laptop) {
        &--nested {
            padding-top: $offset-page-header-top;
        }

        &__form {
            max-width: 70%;
        }
        &__metadata--secondary {
            display: block;
        }
    }
}
