.resource-previews {
    @extend .container;
    @include scut-list-unstyled;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: $baseunit;

    // Cover the bottom border for the bottom row
    // Need to use `:before` because the Ajax Load More plugin uses `after` for clearfix
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: $baseunit;
        width: 100%;
        background-color: $color-white;
        z-index: $z-index-front-1;
    }

    &__preview {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; // so that flexbox truncating works
        padding: $baseunit 0;
        margin-bottom: $baseunit;

        &:before {
            content: '';
            position: absolute;
            bottom: $baseunit * -0.5;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $color-seafoam-dark-1;
        }

        &__info {
            margin-bottom: $baseunit * 1.5;
        }
        &__tags {
            @include scut-list-unstyled;
            @include scroll-horizontal;

            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            // see https://iamsteve.me/blog/entry/using-flexbox-for-horizontal-scrolling-navigation
            &__tag {
                flex-shrink: 0;
            }
        }
    }

    @media (min-width: $media-width-landscape-medium-mobile) {
        flex-direction: row;
        padding-top: $baseunit * 2;

        &:not(&--deprecated) &__preview {
            width: calc(100% / 2);
            padding: $baseunit;
            border-right: 1px solid $color-seafoam-dark-1;

            &:nth-child(2n + 1) {
                padding-left: 0;
            }
            &:nth-child(2n + 2) {
                padding-right: 0;
                border-right-width: 0;
            }
        }
        // DEPRECATED: remove with `resource-previews` block
        &--deprecated &__preview {
            width: calc(100% / 3);
            padding: $baseunit;
            border-right: 1px solid $color-seafoam-dark-1;

            &:nth-child(3n + 1) {
                padding-left: 0;
            }
            &:nth-child(3n + 3) {
                padding-right: 0;
                border-right-width: 0;
            }
        }
    }
}
