.resource-detail {
    @extend .container;
    @extend .detail-container;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__info {
        @include auto-space-vertical;

        width: 100%;
    }
    &__steps {
        @include full-width-bg(transparent) {
            @include card-bg;
        }

        position: relative;
        width: 100%;
        padding: ($baseunit * 2) 0 ($baseunit * 3);
        margin-top: $baseunit * 2;
    }

    $center-spacing: $baseunit * 3;

    @media (min-width: $media-width-laptop) {
        flex-direction: row;

        &__info {
            width: calc(50% - #{$center-spacing});
            padding-right: $center-spacing;
        }
        &__steps {
            width: calc(50% + #{$center-spacing});
            padding: $baseunit * 2;
            padding-left: $center-spacing;
            margin-top: 0;

            &:before {
                left: 0;
                width: 100%;
                height: 100%;
                transform: none;
            }
        }
    }
}

// From https://css-tricks.com/custom-list-number-styling/
.resource-steps {
    $counter-height: $baseunit * 1.5;
    $counter-offset: $baseunit * 0.5;

    @include scut-list-unstyled;

    padding-left: $counter-height + $counter-offset;
    margin-bottom: $baseunit * 2;
    counter-reset: resource-steps-counter;

    &__step {
        $spacing-around: $baseunit * 0.2;
        position: relative;
        counter-increment: resource-steps-counter;

        & + & {
            margin-top: $baseunit;
        }
        &:before {
            content: counter(resource-steps-counter);
            position: absolute;
            left: 0;
            transform: translateX(calc(-100% - #{$counter-offset}));
            height: $counter-height;
            min-width: $counter-height;
            background-color: $color-navy;
            color: $color-white;
            font-weight: $font-weight-bold;
            border-radius: 100%;
            text-align: center;

            // combination of shift background circle up slightly and adding padding to content box
            // to ensure that number is centered in blue circle
            top: $spacing-around * -1;
            padding: $spacing-around * 0.5;
        }

        &__title {
            margin-bottom: $baseunit * 0.7;
        }
    }

    @media (min-width: $media-width-tablet) {
        padding-left: 0;
    }
}
