// Only controls displayed inline in editor, not in Inspector
[data-block] .components-base-control {
    margin-bottom: $baseunit;
    padding-bottom: $baseunit;
    border-bottom: 1px solid $color-seafoam-dark-1;
}

.dfh-editor-image-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: $baseunit * 15;
    width: 100%;
    border-bottom: 1px solid $color-seafoam-dark-1;
    text-align: center;

    img {
        height: auto !important;
        max-height: 100% !important;
        max-width: 100% !important;
    }
    .components-placeholder {
        height: 100%;
        margin-bottom: 0;
        padding: 0;
        background-color: transparent;
    }
    &__control {
        position: absolute;
        top: $baseunit;
        left: 0;
    }
}

.dfh-editor-link-picker {
    display: flex;
    align-items: flex-start;
    margin-top: $baseunit * 0.5;
    padding-bottom: $baseunit * 0.5;
    border-bottom: 1px solid $color-seafoam-dark-1;

    &__control,
    &__title-container {
        display: inline-flex;
        align-items: center;
        min-width: 0;
    }
    &__control {
        flex-shrink: 0;
        min-height: 35px;
    }
    &__title-container {
        height: 35px; // same height as URLInputButton
        margin-bottom: 0 !important;
    }
    &__label {
        @include scut-truncate;
        @extend .tag;

        flex-shrink: 2;
        display: inline-block;
        font-weight: $font-weight-bold;
        cursor: pointer;
    }
    &__title {
        @include scut-truncate;

        margin: 0 $baseunit;
    }
}
