.editor-image-picker {
    .components-placeholder {
        margin-bottom: 0;
    }
    &__control {
        margin-top: $baseunit * 0.5;
    }
}
.editor-link-picker {
    display: flex;
    align-items: center;
    margin-left: $baseunit * 0.5;

    &__target {
        margin-left: $baseunit * 0.5;
    }
}
