// So that mobile block inserter takes up entire width of screen
.block-editor-inserter__main-area {
    width: 100%;
}

// Greater top spacing for room for block title
.editor-styles-wrapper [data-block] {
    margin-top: 40px;
}

// Only controls displayed inline in editor, not in Inspector
[data-block] .components-base-control,
[data-block] .components-number-control,
[data-block] .components-input-control {
    margin-bottom: $baseunit;
    padding-bottom: $baseunit;
    border-bottom: 1px solid $color-seafoam-dark-1;

    label {
        @extend %default-text;
    }
}

// Default stylesheet has `height: 100%` which causes editor to only span viewport height
.edit-post-visual-editor.editor-styles-wrapper {
    height: auto;
}

// Allow page title in editor to have heading styles
.edit-post-visual-editor__post-title-wrapper {
    @extend .heading--2;
}
