.text {
    font-size: $baseunit;
    line-height: normal;

    &--one-line {
        @include scut-truncate;

        display: block;
    }
    &--bold {
        font-weight: $font-weight-bold;
    }
    &--light {
        color: $color-gray;
    }
    &--large {
        font-size: $baseunit * 1;
    }
    &--small {
        font-size: $baseunit * 0.857;
    }

    @media (min-width: $media-width-tablet) {
        &--large {
            font-size: $baseunit * 1.25;
        }
        &--small {
            font-size: $baseunit * 0.875;
        }
    }
}
