// `core/separator`, see https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/separator

.wp-block-separator {
    border-color: $color-seafoam-dark-1;

    &:not(.is-style-wide):not(.is-style-dots) {
        max-width: 50%;
        border-width: 1px;
    }
    &.is-style-dots:before {
        color: $color-seafoam-dark-2;
        font-weight: $font-weight-bold;
        font-size: 2em;
        letter-spacing: 1.5em;
    }
}
