// Override Load More button
// `default` class name added in `setup_ajax_load_more.php`
.ajax-load-more-wrap.default .alm-load-more-btn {
    height: $height-control;
    line-height: $height-control;
    border-radius: $border-radius;

    background-color: $color-none;
    color: $color-navy;
    border: 1px solid $color-navy-light-1;
}
.alm-btn-wrap .alm-load-more-btn.loading:before {
    background: url('../assets/images/ajax-load-more/ajax-loader.gif') no-repeat
        center center;
    height: $height-control;
    width: $height-control;
    margin: 0;
}
.ajax-load-more-wrap.default .alm-load-more-btn:hover,
.ajax-load-more-wrap.default .alm-load-more-btn.loading,
.ajax-load-more-wrap.default .alm-load-more-btn.done {
    color: $color-navy;
    background-color: $color-navy-light-2;
    border-color: $color-navy-light-1;
}
.ajax-load-more-wrap.default .alm-load-more-btn.done {
    opacity: 0;
}
