// custom styles for contact form 7 forms
// See https://contactform7.com/styling-contact-form/

.wpcf7 {
    // loading indicator upon submission
    & form &-spinner {
        @include scut-center-transform;
    }

    // Inline error message
    & form &-not-valid-tip {
        margin-top: $baseunit * 0.5;
        color: $color-red-dark-1;
        font-size: $baseunit;
    }

    /**
     * Customizing response messages
     */

    // default state
    & form.form &-response-output {
        width: 100%;
        margin: $baseunit 0;
        padding: $baseunit;
        border-width: 0;
        border-radius: $border-radius;
        background-color: $color-seafoam;
        text-align: center;
    }
    // success state
    & form.form.sent &-response-output {
        border-width: 0;
        background-color: $color-seafoam;
    }
    // error/failure state
    & form.form.failed &-response-output,
    & form.form.aborted &-response-output,
    & form.form.spam &-response-output,
    & form.form.invalid &-response-output,
    & form.form.unaccepted &-response-output {
        border-width: 0;
        background-color: $color-red-light-1;
    }
}
