.container {
    width: 100%;
    // `!important` to ensure that padding is preserved in all cases
    padding-left: $baseunit !important;
    padding-right: $baseunit !important;

    @media (min-width: $media-width-tablet) {
        width: 50 * $baseunit;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &--narrow {
            width: 40 * $baseunit;
        }
    }
    @media (min-width: $media-width-laptop) {
        width: 68 * $baseunit;

        &--narrow {
            width: 45 * $baseunit;
        }
    }
}

.link {
    color: inherit;
    line-height: normal;

    &:hover,
    &:visited,
    &:active {
        color: $color-navy;
    }
    &:active {
        text-decoration: none;
    }
}
